<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Corsars</title>
</head>
<body>
    <h1>Корсары</h1>
        <h2>Меню</h2>
            <ul>
                <li><a href="/new/"> Новая игра</a></li>
                <li><a href="#"> Загрузить игру</a></li>
                <li><a href="#"> Сохранить игру</a></li>
                <li><a href="#"> Настройки</a></li>
                <li><a href="#"> Создатели</a></li>
                <li><a href="#"> Выход</a></li>
            </ul>
</body>
</html>